{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<!-- <html>

<head>
  <meta charset="UTF-8">
  <title>Upload Media</title>
</head>

<body> -->

  <h1>Upload Media File</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" name="user_upload"  >Upload</button>
  </form>

  {% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <h3>on: {{img_obj.date}}</h3>
  <h4>Generated PDQ hash: {{img_obj.pdq}}</h4>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">

  <h2>Similarity Results:</h2>
  <h3>Total Images in Database: {{db_images}} </h3>
  <h3>Similar Images found: {{counter}} </h3>
  <ul>
  {% for similarity,i in similarity_zip %}
     <li>
      {{ forloop.counter }}
      <img src="{{ i.image.url}}" alt="connect" style="max-height:300px">
      <p>Similarity: {{similarity}}</p>
      <p>PDQ hash: {{i.pdq}}</p>
      <p>uploaded on: {{i.date}}</p>
      <p>title: {{i.title}}</p>
      <p>description: {{i.description}}</p>
      
    </li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if counter == 0  %}
  <h1>Enter Image Details: </h1>
  

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ adminForm|crispy }}
    <button type="submit" name="admin_upload">Upload</button>
  </form>
  {% endif %}

<!-- </body>

</html> -->

{% endblock content %}
