{% extends "base.html" %}

{% load crispy_forms_tags %}
=


{% block content %}
<!-- <html>

<head>
  <meta charset="UTF-8">
  <title>Upload Media</title>
</head>

<body> -->

  <h1>Upload Media File</h1>
  <form method="post" enctype="multipart/form-data">
    <div class="container">
      {% csrf_token %}
      {{ userform|crispy  }}
      {{ imageform|crispy }} 

      <button type="submit" name="user_upload" id="user_upload_submit" class="btn btn-primary btn-md "  >Upload</button>
    </div>
  </form>

  {% if img_obj %}
  <div>
    <h4></h4>
    <h4>Succesfully uploaded</h4>
    <h4>on: {{img_obj.date}}</h4>
    <h4>{{user_obj.phone}}</h4>
    <h4>Generated PDQ hash: {{img_obj.pdq}}</h4>
    

    {%if img_obj.fileType == 'image'%}
    <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {%else%}
    <video width="320" height="240" controls> 
      <source src={{img_obj.image.url}} type="video/mp4">
    </video>
    {%endif%}


    <h4>Similarity Results:</h4>
    <h4>Similar media file found: {{counter}} </h4>
    <h4>Total media files in Database: {{db_images}} </h4>
    
  </div>
  
  <ul class="list-group ">
  {% for similarity,i in similarity_zip %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
         
          {%if i.fileType == 'image'%}
          <img src="{{ i.image.url}}" alt="connect" width="320" height="240">
          {%else%}
          <video width="320" height="240" controls> 
            <source src={{i.image.url}} type="video/mp4">
          </video>
          {%endif%}
          <p>Similarity: {{similarity}}</p>
          <p>PDQ hash: {{i.pdq}}</p>
          <p>uploaded on: {{i.date}}</p>
          <p>title: {{i.title}}</p>
          <p>description: {{i.description}}</p>
        </li>
      </ul>
      <span class="badge badge-primary badge-pill">{{ forloop.counter }}</span>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
<!--
  {% if counter == 0  %}
  <h1>Enter Image Details: </h1>
  

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      {{ adminForm|crispy }}
      <button type="submit" name="admin_upload"  class="btn btn-primary">Upload</button>
    
  </form>
  {% endif %}

 -->

 <script>
   document.querySelector('#user_upload_submit').onclick = function(e){
    //  window.location.replace('test')
   }

 </script>


{% endblock content %}
